<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Hello, <%= @user.name %></h1>
<p>A new user has been assigned to the project: <%= @project.title %>.</p>
<p>Project Description: <%= @project.description %></p>
<p>Thank you!</p>
</body>
</html>