<%= turbo_frame_tag 'modal' do %>
  <div class="modal h-[90%]">
    <%= render 'comments/edit_form', project: @project, ticket: @ticket %>
    <%= link_to 'Cancel', cancel_redirect_path, data: { turbo: false }, class: 'mt-4 h-12 border border-b-4 border-r-2 border-black dark:border-slate-100 p-3 font-semibold rounded' %>
  </div>
<% end %>