<%= turbo_frame_tag 'modal' do %>
 <div class="modal h-[90%]">
   <%= render 'comments/form', project: @project, ticket: @ticket %>
   <%= link_to 'Cancel', "#", data: {
     controller: 'modals',
     action: 'modals#close'
   }, class: "cancel-button"%>
 </div>
<% end %>