<div class="relative overflow-x-auto shadow-md sm:rounded-lg w-[100%] ">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-2 py-2">
        Name of the Module
      <th scope="col" class="px-2 py-2">
        Description
      </th>
      <th scope="col" class="px-2 py-2">
        VIEW
      </th>
      <th scope="col" class="px-2 py-2">
        EDIT
      </th>
      <th scope="col" class="px-2 py-2">
        DELETE
      </th>
    </tr>
    </thead>
    <tbody>
    <% @scripts.each do |script| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 gap-2">

        <th scope="row" class="px-2 py-2 font-medium  whitespace-nowrap ">
          <%= script.name   %>
        </th>
        <th scope="row" class="px-2 py-2 font-medium  whitespace-nowrap  capitalize">
          <%= script.description %>
        </th>
        <th scope="row" class="px-2 py-2 font-medium  whitespace-nowrap  capitalize">
          <%#= link_to 'VIEW', [script.software, script], class: 'bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>
        </th>
        <th scope="row" class="px-2 py-2 font-medium  whitespace-nowrap  capitalize">
          <%#= link_to 'Edit', edit_software_script_path(script.software, script), class: 'bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>
        </th>
        <td class="px-2 py-2">
          <% if can? :destroy, script %>
            <%#= button_to 'DELETE', [script.software, script], method: :delete, data: { 'turbo_method': :delete, 'turbo-confirm': 'Are you sure?' }, class: ' bg-[#F65160] hover:bg-[#F65160] p-2 rounded-md font-bold rounded-lg text-slate-100'  %>
          <% end %>
        </td>

      </tr>

    <% end %>
    </tbody>
  </table>
</div>

