<%= form_with(model: [@project, @ticket, @issue], method: :patch) do |f| %>
  <h3 class="pb-2 font-bold"> Edit Reply </h3>
  <div class="relative z-0 w-full mb-6 group">
    <div data-controller="text-limit" data-text-limit-limit-value="800">
      <p id="char-count">0/800</p>
      <%= f.rich_text_area :content, id: "content", data: { text_limit_target: "content" }, class: 'min-h-[300px]'%>
    </div>
  </div>
  <%= f.submit "Submit",  class: 'mt-4 w-2/5 h-12 text-gray-900 dark:text-gray-900 border border-black dark:border-gray-900 border-b-4 border-r-2 p-3 rounded font-semibold rounded'  %>
<% end %>



