
  <div class="p-8 sm:ml-64 ">
    <%= form_with(model: [@project, @ticket, @issue], method: :patch) do |f| %>

      <h3 class="pb-2 font-bold"> Edit Reply </h3>
      <%= f.rich_text_area :content, class: "w-[100%] h-[400px] bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      <%= f.submit "Submit",  class: 'mt-4 w-2/5 h-12 text-gray-900 dark:text-gray-900 border border-black dark:border-gray-900 border-b-4 border-r-2 p-3 rounded font-semibold rounded'  %>
    <% end %>

  </div>

