<div class="flex flex-wrap gap-2 mt-2">
  <% if current_user.has_role? :admin or current_user.has_role?('project manager') or current_user.has_role? :agent %>
    <div class="grid grid-cols-2 mt-2 gap-2">
      <div class="col-span-1 text-xs">
        <%= form_with url: add_state_product_task_path(@product, @task), local: true do %>
          <%= label_tag :status, "SELECT STATE" %>
          <div class="flex w-full">
            <div>
              <% available_statuses = Status.where(name: ['TO DO', 'Closed', 'Await Client Information', 'Blocked',
                                                          'In Progress', 'On-Hold', 'Failed-QA', 'QA-testing',
                                                          'Reopened', 'Awaiting Build', 'Support Testing',
                                                          'Awaiting Client API', 'Resolved', 'Closed']) %>
              <% if available_statuses %>
                <%= select_tag :status_id,
                               options_for_select(available_statuses.pluck(:name, :id)),
                               class: "mr-1 form-select block rounded-md border-gray-300 text-black shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm",
                               required: true %>
              <% end %>
            </div>
            <div class=" col-span-1">
              <%= submit_tag "UPDATE", class: 'bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
