<div class="flex flex-wrap gap-2 mt-2">
  <% if current_user.has_role? :admin or current_user.has_role?('project manager') or current_user.has_role? :agent %>
    <div class="grid grid-cols-2 mt-2 gap-2">
      <div class="col-span-1 text-xs">
        <%= form_with url: add_state_product_task_path(@product, @task), local: true do %>
          <%= label_tag :status, "SELECT STATE" %>
          <div class="flex">
            <div>
              <%= select_tag :status_id, options_for_select(Status.where(name: ['TO DO', 'Closed', 'Await Client Information']).pluck(:name, :id)), class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>
            <div class=" col-span-1">
              <%= submit_tag "STATUS CHANGE", class: 'bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
