<% if current_user.has_role? :admin or current_user.has_role?('project manager') %>
  <div class="grid grid-cols-2 mt-2 gap-2">
    <div class="col-span-1 text-xs">
      <%= form_with url: add_task_product_board_path(@product, @board), local: true do %>
        <%= label_tag :user_id, "SELECT USER" %>
        <div class="flex flex-wrap gap-2">
          <div>
            <% available_users = User.with_agent_role.where.not(id: @task.users.pluck(:id)).where(id: @product.users.pluck(:id)).distinct %>
            <% if available_users.any? %>
              <%= select_tag :user_id, options_from_collection_for_select(available_users, :id, :name || :email), class: "mr-1 max-w-[120px] form-select block rounded-md border-gray-300 text-black shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" %>
            <% end %>

          </div>
          <div class=" col-span-1">
            <%= submit_tag "ASSIGN", class: 'border border-black dark:border-white border-b-4 border-r-2 p-2 rounded font-semibold rounded cursor-pointer' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

