<div class="flex flex-wrap gap-2 mt-2">
  <% if current_user.has_role? :admin or current_user.has_role?('project manager') or current_user.has_role? :agent %>
    <div class="w-full">
      <%= form_with url: add_state_product_task_path(@product, @task), local: true, data: { turbo: false } do %>
        <%= label_tag :status, "SELECT STATUS", class: "sr-only" %>
        <div class="flex flex-col gap-2">
          <div>
            <% available_statuses = Status.where(name: ['TO DO', 'Closed', 'Await Client Information', 'Blocked',
                                                    'In Progress', 'On-Hold', 'Failed-QA', 'QA-testing',
                                                    'Reopened', 'Awaiting Build', 'Support Testing',
                                                    'Awaiting Client API', 'Resolved', 'Closed']) %>
            <% if available_statuses %>
              <%= select_tag :status_id,
                             options_for_select(available_statuses.pluck(:name, :id)),
                             class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500",
                             required: true %>
            <% end %>
          </div>
          <%= submit_tag "UPDATE STATUS", class: 'w-full font-semibold bg-blue-500 hover:bg-blue-600 text-white p-3 rounded-lg' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>