<div class="flex flex-wrap gap-2 mt-2">
  <% if current_user.has_role? :admin or current_user.has_role?('project manager') or current_user.has_role? :agent %>
    <div class="grid grid-cols-2 mt-2 gap-2">
      <div class="col-span-1 text-xs">
        <%= form_with url: add_state_product_board_task_path(@product, @board, @task), local: true do %>
          <%= label_tag :status, "SELECT STATE" %>
          <div class="flex flex-wrap gap-2">
            <div>
              <%= select_tag :status, options_for_select(Board.all.map { |board| [board.status, board.id] }), class: "mr-1 max-w-[120px] form-select block rounded-md border-gray-300 text-black shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm", required: true %>
            </div>
            <div class=" col-span-1">
              <%= submit_tag "STATUS CHANGE", class: 'border border-black dark:border-white border-b-4 border-r-2 p-2 rounded font-semibold rounded cursor-pointer' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
