<% if task.statuses.present? %>
  <% task.statuses.each do |status| %>
    <% case status.name %>
<% when 'Resolved' %>
      <span class="px-2 py-1 text-sm font-semibold rounded-lg bg-green-100 text-green-800">Resolved</span>
    <% when 'Closed' %>
      <span class="px-2 py-1 text-sm font-semibold rounded-lg bg-gray-200 text-gray-800">Closed</span>
    <% when 'Reopened' %>
      <span class="px-2 py-1 text-sm font-semibold rounded-lg bg-red-100 text-red-800">Reopened</span>
    <% when 'New' %>
      <span class="px-2 py-1 text-sm font-semibold rounded-lg bg-red-100 text-red-800">New</span>
    <% when 'Under Development' %>
      <span class="px-2 py-1 text-sm font-semibold rounded-lg bg-blue-100 text-blue-800">Under Development</span>
    <% when 'Work in Progress' %>
      <span class="px-2 py-1 text-sm font-semibold rounded-lg bg-gray-100 text-gray-800">Work In Progress</span>
    <% when 'QA Testing' %>
      <span class="px-2 py-1 text-sm font-semibold rounded-lg bg-pink-100 text-pink-800">QA Testing</span>
    <% when 'Awaiting Build' %>
      <span class="px-2 py-1 text-sm font-semibold rounded-lg border border-gray-300">Awaiting Build</span>
    <% when 'Client Confirmation Pending' %>
      <span class="px-2 py-1 text-sm font-semibold rounded-lg bg-purple-100 text-purple-800">Client Confirmation Pending</span>
    <% when 'On-Hold' %>
      <span class="px-2 py-1 text-sm font-semibold rounded-lg bg-yellow-100 text-yellow-800">On-Hold</span>
    <% when 'TO DO' %>
      <span class="px-2 py-1 text-sm font-semibold rounded-lg bg-blue-100 text-blue-800">TO DO</span>
    <% when 'Approved' %>
      <span class="px-2 py-1 text-sm font-semibold rounded-lg bg-green-100 text-green-800">Approved</span>
    <% when 'Pending' %>
      <span class='px-2 py-1 text-sm bg-gradient-to-r from-green-100 to-gray-500 text-center text-green-800 font-semibold rounded-lg'>Pending</span>
    <% when 'Declined' %>
      <span class="px-2 py-1 text-sm font-semibold rounded-lg bg-gray-100 text-gray-800">Declined</span>
    <% end %>
  <% end %>
<% end %>