<div class="relative overflow-x-auto shadow-md sm:rounded-lg w-[100%] ">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-2 py-2">
        Name of the Software Product
      <th scope="col" class="px-2 py-2">
        Description
      </th>
      <th scope="col" class="px-2 py-2">
        EDIT
      </th>


      <th scope="col" class="px-2 py-2">
        DELETE
      </th>
    </tr>
    </thead>
    <tbody>
    <% @groupware.each do |group| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 h-[12px]">

        <th scope="row" class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <%= group.name   %>
        </th>
        <th scope="row" class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white uppercase">
          <%= group.description %>
        </th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

