<div class="flex gap-2">
Sub Product: <%= @groupware.name %>



  <% if current_user.has_role? :admin  %>
    <div class="flex gap-1">
      <%= button_to 'Back', software_path(@software.id), method: :get, class: 'bg-[#3F8CFF] hover:bg-[#3A81EB] p-2 rounded font-bold rounded-lg text-slate-100'  %>

      <%= button_to 'Add Module +', new_software_groupware_script_path(@software, @groupware), method: :get, class: 'bg-[#3F8CFF] hover:bg-[#3A81EB] p-2 rounded font-bold rounded-lg text-slate-100'  %>
    </div>
  <% end %>
</div>

<!-- add scripts -->

<%= render 'scripts/script' %>