<% provide(:title, "Quality Assurance") %>

<% if flash[:notice] %>
  <div class="bg-[#1a237e] border border-[#4caf50] text-white px-4 py-3 rounded mb-4 shadow-md">
    <p><%= flash[:notice] %></p>
  </div>
<% elsif flash[:alert] %>
  <div class="bg-red-600 border border-red-400 text-white px-4 py-3 rounded mb-4 shadow-md">
    <p><%= flash[:alert] %></p>
  </div>
<% end %>

<!-- Topbar Section -->
<div class="mb-4">
  <%= render 'defect/top_bar' %>
</div>

<!-- Projects showing in the Quality Assurance section Section -->
<div class="mb-4 h-full">
  <%= render partial: 'defect/product_defects_grid', locals: {
    product: @products_in_qa,
    chosen_software_id: @chosen_software_id,
    selected_groupware_id: @selected_groupware_id
  } %>
</div>