<div class="p-2 container">
  <!-- Topbar and Alert -->
  <%#= render 'defect/defect_topbar' %>

  <div class="flex flex-row">
    <%= link_to 'Add Bug', new_defect_bug_path(@defect ), class: 'bg-[#3F8CFF] hover:bg-[#3A81EB] p-2 rounded font-bold rounded-md text-slate-100' %>
  </div>

  <%= render 'layouts/alert', class: "" %>

  <!-- Defect Information Section -->
  <div class="grid md:grid-cols-5 md:items-center ">
    <div class="mb-4 font-bold capitalize">
      <p>Defect ID:
        <span class="font-medium uppercase">
          <%#= @defect.unique_id %>
        </span>
      </p>
      <p>Created by:
        <span class="font-medium">
          <%= @defect.users.first&.name %>
        </span>
      </p>
      <div class="mb-4 font-bold capitalize">Type of Defect:
        <span class="font-medium">
          <%#= @defect.issue %>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="flex pt-2 mb-4 rounded bg-gray-50 dark:bg-gray-800 w-full">
  <%# if @product.added_to?(current_user) or current_user.has_role?(:admin) %>
    <%= render 'bugs/bugs_view' %>
  <%# end %>
</div>