<div class="p-2">
  <!-- Topbar and Alert -->
  <%= render 'bugs/top_bug' %>

  <%= render 'layouts/alert', class: "" %>
  <div class="grid grid-cols-3 gap-4 mb-4">
    <div class="col-span-1">
      <%= render 'defect/add_defect' %>
    </div>
  </div>
  <div class="flex pt-2 mb-4 rounded bg-gray-50 dark:bg-gray-800 w-full">

    <%= render 'bugs/bugs_view' %>

  </div>
</div>

