
    <div class="mt-14 p-4 flex flex-col">

        <%= form_with model: @user, url: user_path(@user), method: :patch do |f| %>
        <h1> Edit Roles</h1>
        <p class = "text-red-900">
          <%= @user.errors[:roles] %>
        </p>

         <div class="capitalize">
           <%= f.collection_check_boxes :role_ids, Role.distinct.all.where.not(name: %w[editor creator]), :id, :name, class: "gap-4" %>
         </div>
      <%= f.submit class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>





        <% end %>
    </div>
