<div class="gap-2">
  <p class="pt-3">Total Number of Closed and Reopened Tickets</p>
  <%= column_chart @closed_and_reopened_tickets, colors: %w[#EF4444  #e6000 #ff0000], library: { legend: { position: 'bottom' }, plugins: { datalabels: { align: 'end', anchor: 'end' } } } %>
</div>