
<div class="flex items-center">
  <div>
    <%= column_chart @status_data, colors: %w[#EF4444 #10B981 #1F2937 #EC4899 #8B5CF6 #34D399 #F97316 #6EE7B7 #6366F1 #F43F5E #3B82F6 #A3E635], library: { legend: { position: 'bottom' }, plugins: { datalabels: { align: 'end', anchor: 'end' } } } %>
  </div>
</div>