

<div class="p-4 border-white rounded-lg w-full">
<div class="relative overflow-x-auto w-full">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        Name of The Project
      </th>
      <th scope="col" class="px-6 py-3">
        Number of Tickets
      </th>
      <th scope="col" class="px-6 py-3">
        Number of Tickets Open
      </th>
      <th scope="col" class="px-6 py-3">
        Number of Tickets Closed
      </th>
      <th scope="col" class="px-6 py-3">
        Number of Tickets Resolved
      </th>
      <th scope="col" class="px-6 py-3">
        Number of Tickets Resolved
      </th>
    </tr>
    </thead>
    <tbody>
    <% @issues_count_per_project_for_current_user.each do |project_title, issue_count| %>

      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 text-center">

              <th scope="row" class="text-left capitalize px-6 py-4 font-medium whitespace-nowrap ">
                <p>Project: <%= project_title %></p>
              </th>

              <td class="px-6 py-4">
                <p>Total Tickets: <%= @tickets_count_per_project[project_title] %></p>
              </td>

              <td>
                <p>Issues by You: <%= issue_count %></p>
              </td>

      </tr>

    <% end %>
    </tbody>

  </table>
</div>
</div>
