<div class="ticket-<%= ticket.id %> container ">
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <div class="flex items">
        <%= ticket.user.email %>
        <%= ticket.created_at %>
      </div>
      <span></span>
    </div>
  </div>

</div>