<div class="mb-2.5 font-bold capitalize">Priority:
  <span class="font-medium">
    <%= @ticket.priority %>
  </span>
</div>
<div class="mb-2.5 font-bold capitalize">
  Name of the Software:
  <span class="font-light">
    <% if @ticket.software.present? %>
    <%= @ticket.software&.name || 'No Software Assigned' %>
    <% end %>
  </span>
</div>
<div class="mb-2.5 font-bold capitalize">Software Category:
  <span class="font-light">
    <% if @ticket.software.present? %>
    <% selected_groupware = @ticket.software.groupwares.find_by(id: @ticket.groupware_id) %>
    <% if selected_groupware %>
      <%= selected_groupware.name %>
    <% else %>
      No Groupware Assigned
    <% end %>
    <% end %>
  </span>
</div>