<div class="p-8 sm:ml-64">
  <div class="flex items-center justify-center  mb-4 rounded bg-gray-50 dark:bg-gray-800 min-h-[300px] p-4">
    <%= render 'tickets/form', project: @project %>
  </div>
</div>

