<% if current_user.has_role? :admin or current_user.has_role?('project manager') %>
  <div class="mt-6">
    <%= form_with url: add_team_project_path(@project), method: :post, local: true do %>
      <%= label_tag :team_id, 'Select Team', class: "block mb-1 text-sm font-medium" %>
      
      <div class="flex flex-col md:flex-row md:items-end gap-4">
        <div class="flex-1">
          <%= select_tag :team_id,
            options_from_collection_for_select(Team.all, :id, :name),
            class: "w-full border border-gray-300 rounded px-3 py-2 text-sm shadow-sm focus:ring focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500",
            placeholder: 'Select team' %>
        </div>

        <div>
          <%= submit_tag 'Add Team', class: 'bg-[#3F8CFF] hover:bg-[#3A81EB] px-4 py-2 rounded font-bold text-sm' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>