<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  <% if current_user.has_role? :admin or current_user.has_role?('project manager') or current_user.has_role?(:agent) %>
    
    <!-- Craft Silicon Staff -->
    <div>
      <h3 class="text-sm font-semibold mb-2">Craft Silicon Staff</h3>
      <p class="text-sm ">
        <%= @craft_silicon_users.map(&:name).join(", ").first(5) %>
      </p>
    </div>

    <!-- Clients -->
    <div>
      <h3 class="text-sm font-semibold mb-2">Clients</h3>
      <p class="text-sm">
        <%= @non_craft_silicon_users.map(&:name).join(", ").first(5) %>
      </p>
    </div>

  <% end %>
</div>