<div class="grid grid-cols-2 ">
  <div class="grid col-span-1">
    <div class="flex gap-1">
      <%= button_to project_index_path, method: :get, class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100', id: 'button'  do %>
        &#8656; Back
      <% end %>
    </div>
  </div>
</div>