<div class="grid grid-cols-2 ">
  <div class="flex justify-start">
    <h1 class="font-bold capitalize text-2xl">Projects</h1>
  </div>
  <!-- Search on the right -->
  <div class="flex justify-end">
    <input type="text" class="w-64 border border-gray-300 rounded-lg mb-4 focus:ring-primary-600 focus:border-primary-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search" />
  </div>


</div>