<div class="overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-900 dark:text-gray-400">
    <thead class="text-xs uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-4 py-2">Name of Person</th>
      <th scope="col" class="px-4 px-2">Role</th>
      <th scope="col" class="px-4 px-2">Client</th>

    </tr>
    </thead>
    <tbody>
    <%# @project.each do |project| %>  <!-- Looping through each project -->
    <% @team.users.each do |user| %>
      <%# if project.assigned_to?(current_user) || current_user.has_role?(:admin) or current_user.has_role?(:observer) or current_user.has_role?(:agent)  %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 h-12 text-center">
          <td class="px-4 py-4 font-medium text-left">
              <p class="text-gray-700 dark:text-gray-300"><%= user.name %></p>
          </td>
          <td class="px-4 py-4 text-left">
            <p class="text-gray-700 dark:text-gray-300"><%= user.roles.map(&:name).uniq.join(', ') %></p>
          </td>
          <td class="px-4 py-4 text-left">
            <p class="text-gray-700 dark:text-gray-300"><%= user.client&.name || 'No Client' %></p>
          </td>
        </tr>
      <%# end %>
    <% end %>
    </tbody>
  </table>
</div>
