<div class="stat-card bg-white p-4 shadow-md text-center">
  <h2 class="title text-lg font-semibold mb-2"><%= title %></h2>
  <p id="<%= local_assigns[:id] %>" class="value text-2xl font-bold"><%= value %></p>
</div>
