<% if @bug.statuses.any? %>
  <% @bug.statuses.each do |status| %>
    <p class="border border-black dark:border-slate-100 p-1 gap-2 text-sm rounded ">
      <% if status.name.present? %>
        <%= status.name %>
      <% else %>
        <%= truncate(status.email, length: 15, omission: '...') %>
      <% end %>
    </p>
  <% end %>
<% else %>
  <p class="text-red-500 text-sm capitalize">
    No Status Assigned
  </p>
<% end %>